.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 50px;
    border-top: 1px solid var(--smoke);
    width: 30%;
    margin-top: 60px;
}

@media (max-width: 1024px) {
    .footer {
        width: 100%;
        display: flex;
        justify-content: center;
    }
}